.dogButton {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 0px;
    border-radius: 12px;
    cursor:pointer;
    text-transform: lowercase;
}

.dogButtonIncorrect {
    background-color: red;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 0px;
    border-radius: 12px;
    cursor:pointer;
    text-transform: lowercase;
}

.dogButtonCorrect {
    background-color: aqua;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 0px;
    border-radius: 12px;
    cursor:pointer;
    text-transform: lowercase;
}

.dogButton::first-letter {
    text-transform: uppercase;
}

.dogButtonIncorrect::first-letter {
    text-transform: uppercase;
}

.correct {
    color: white;
}

.incorrect {
    color: red;
}